mixin portfolio-item(image, name)
  figure.card.grid_6
    img(src='img/portfolio-item/img/' + image + '.png', width='350', height='350', alt=name)
    a(href='https://kanastasiya.github.io/' + name, target='_blank').fork-me Fork me on GitHub
