mixin social(type, href)
  a(href=href , target='_blank')
    img(src='img/personal/img/' + type + '.svg', alt=type, title=href)

.personal_container.article_container.grid_8
  .negative_margin_wrapper.clearfix
    article.personal.grid_5
      h1 Anastasiia Kozenko
      p April 12, 1987
      p Dnepr, Ukraine
      .social.clearfix
        +social('smartphone', 'tel://+380997959388')
        +social('email', 'mailto:kozenko.anastasiia@gmail.com')
        +social('skype', 'skype:anastasiia.kozenko')
        +social('linked-in', 'https://linkedin.com/in/AnastasiiaKozenko')
        +social('github', 'https://github.com/KAnastasiya')
    .photo_container.grid_3
      .photo
        img(src='img/personal/img/photo.jpg', width='170', height='170', alt='My photo')
      a(href='https://docs.google.com/document/d/1J_TQfNfhGkCgX6Xv3ZhPxAtSJtr1-HxKlZ2ANWHpUC4/edit', target='_blank', rel='noopener', title='https://docs.google.com').download My resume
