.page_footer_container {
  background-color: #ddd;
}

.page_footer {
  color: $light-font;
  font-size: 0.9em;
  padding: $gutter/3 0;

  @media only screen and (max-width: $mobile-max) {
    text-align: center;
  }
}
