doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kozenko_Anastasiia
    link(rel='icon', type='image/jpg', href='favicon.jpg')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet')
    link(href='library/jquery.mCustomScrollbar.css', rel='stylesheet')
    link(href='styles.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='library/jquery.mCustomScrollbar.concat.min.js')
  body
    block content
