mixin course(href, name, image, cert)
  li
    a(href=href, target='_blank', rel="noopener").course=name
      img(src='img/courses/img/' + image + '.png', alt='LITS')
    if (cert)
      a(href='cert/' + cert + '.pdf', target='_blank', rel='noopener').cert Certificate.pdf
    else
      p.tip The courses are not completed yet

.aside_container
  h3 Courses
  ul.courses
    +course('https://htmlacademy.ru', 'Basic JavaScript', 'htmlacademy', 'Certificate_AnastasiiaKozenko(HTMLAcademy_JavaScript)')
    +course('https://htmlacademy.ru', 'Basic HTML+CSS', 'htmlacademy', 'Certificate_AnastasiiaKozenko(HTMLAcademy_HTML+CSS)')
    +course('http://lits.com.ua/?lang=ru', 'Basics of Web UI development', 'lits', 'Certificate_AnastasiiaKozenko(LITS)')
