.skills {
  list-style: none;

  li {
    font-size: 0.9em;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    margin: 0 5px 20px 0;
    min-width: 65px;
    background: #eee;
  }
}
