.skills_container
  h3 Skills
  ul.skills
    each val in ['HTML5', 'CSS3', 'JavaScript(+ES6)', 'Ajax', 'Custom elements', 'PWA', 'CSS grids', 'React, Redux, React-router', 'jQuery', 'Canvas', 'OOP', 'BEM', 'Page Visibility API', 'LESS, SCSS, Stylus', 'Pug','Grunt, Gulp', 'WebPack', 'Git', 'Bootstrap', 'Illustrator', 'Avocode, Photoshop', 'Mantis']
      li= val
