.skills_container
  h3 Skills
  ul.skills
    each val in ['HTML5', 'CSS3', 'JavaScript(+ES6)', 'jQuery', 'React, Redux, React-router', 'Ajax', 'Canvas', 'Page Visibility API', 'OOP', 'BEM', 'Git', 'Pug', 'LESS, SCSS, Stylus', 'Bootstrap', 'Grunt, Gulp', 'WebPack','Illustrator', 'Avocode, Photoshop', 'Mantis']
      li= val
