.courses li {
  &:not(:first-of-type) {
    padding-top: $gutter/2;
  }
  &:not(:last-of-type) {
    padding-bottom: $gutter/2;
  }
}

.course {
  color: $font-color;
  display: block;
  img {
    height: 40px;
    display: block;
    opacity: 1;
  }
  &:hover {
    color: $light-font;
    img {
      opacity: 0.7;
    }
  }
}

.cert {
  color: $primary-color;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-top: $gutter/3;
  &:hover {
    color: lighten($primary-color, 10);
  }
}