$primary-color: #4CAF50;
$white-color: #fff;

$font-size: 14px;
$font-color: rgba(0, 0, 0, 0.8);
$light-font: rgba(0, 0, 0, 0.6);

$mobile-max: 480px;
$desktop-min: $mobile-max + 1;

$gutter: 40px;
$gutter_small: 10px;
