.article_container.grid_8
  .negative_margin_wrapper.clearfix
    article.education.grid_8
      h3 Education
      p Dnipropetrovsk national university of railway transport named after academician V. Lazaryan
      p Computer Systems and Networks, Master’s degree  (cum laude)
      p.period 2004 - 2009
